@using TANE.Application.Groups.DagSkabeloner.Queries.Interfaces
@using TANE.Domain.Entities
@using TANE.Persistence.Repositories
@using TANE.Presentation.BlazorWebAssemply.Configuration
@using TANE.Application.Dtos.Skabeloner
@using TANE.Application.RepositoryInterfaces
@inject CustomStateProvider AuthStateProvider
@inject IDagSkabelonRepository DagSkabelonRepository

<div class="rz-p-0 rz-p-md-12">
    <h4>Opret Ny Dag Skabelon</h4>
    <RadzenTemplateForm TItem="DagSkabelon" Data=@Skabelon Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <RadzenStack Gap="1rem" class="rz-p-sm-12">

            <RadzenFormField Text="Titel" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextBox Name="Titel" @bind-Value=@Skabelon.Titel />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Titel" Text="Titel skal udfyldes." />
                </Helper>
            </RadzenFormField>

            
            <RadzenFormField Text="Beskrivelse" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextArea Name="Beskrivelse" @bind-Value="@Skabelon.Beskrivelse" Rows="4" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Beskrivelse" Text="Beskrivelse skal udfyldes." />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Aktiviteter" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextArea Name="Aktiviteter" @bind-Value="@Skabelon.Aktiviteter" Rows="4"/>
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Aktiviteter" Text="Aktiviteter skal udfyldes." />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Måltider" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextArea Name="Måltider" @bind-Value="@Skabelon.Måltider" Rows="4" />
                </ChildContent>
            </RadzenFormField>

            <RadzenFormField Text="Overnatning" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextBox Name="Overnatning" @bind-Value=@Skabelon.Overnatning />
                </ChildContent>
            </RadzenFormField>


            <RadzenButton ButtonType="ButtonType.Submit" Text="Opret" ></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</div>

@code {

    
    public DagSkabelon Skabelon { get; set; } = new DagSkabelon();

    [Parameter]
    public EventCallback<DagSkabelon> OnAdd { get; set; }

    string _token;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthStateProvider.GetAuthenticationStateAsync();
        _token = AuthStateProvider.CurrentUser.Token;

    }

    void OnInvalidSubmit( )
    {

    }

    void OnSubmit()
    {
     
        InvokeAsync(() => OnAdd.InvokeAsync(Skabelon));
    }
}

