@using TANE.Application.Dtos
@using System.Collections.ObjectModel
@using TANE.Application.Groups.Kunder.Queries.Interfaces
@using TANE.Application.RepositoryInterfaces
@using TANE.Domain.Entities
@using TANE.Presentation.BlazorWebAssemply.Configuration
@using TANE.Presentation.BlazorWebAssemply.Pages.Kunder.Component
@using TANE.Presentation.BlazorWebAssemply.Pages.Dag.Components
@using TANE.Presentation.BlazorWebAssemply.Pages.Tur.Components
@using TANE.Presentation.BlazorWebAssemply.Pages.Skabeloner.DagSkabeloner.Components


@inject CustomStateProvider AuthStateProvider
@inject IDagRepository DagRepository
@inject IReadKunde ReadKunde
@inject DialogService DialogService
@inject CustomerState CustomerState




<div class="rz-p-0 rz-p-md-12">
    <h4>Opret Ny Tur</h4>
    <RadzenTemplateForm TItem="TurCreateDto" Data=@Tur Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <RadzenStack Gap="1rem" class="rz-p-sm-12">
            <!-- Titel -->
            <RadzenFormField Text="Titel" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextBox Name="Titel" @bind-Value=@Tur.Titel Style="width:100%" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Titel" Text="Titel skal udfyldes." />
                </Helper>
            </RadzenFormField>

            <!-- Beskrivelse -->
            <RadzenFormField Text="Beskrivelse" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextArea Name="Beskrivelse" @bind-Value=@Tur.Beskrivelse Rows="4" Style="width:100%" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Beskrivelse" Text="Beskrivelse skal udfyldes." />
                </Helper>
            </RadzenFormField>

            <!-- Antal Voksne / Antal Børn -->
            <RadzenStack Direction="Row" Gap="1rem">
                <RadzenFormField Text="Start" Variant="@ThemeConfig.FormVariant">
                    <ChildContent>
                        <RadzenDatePicker Name="Start" @bind-Value=@Tur.TurStartTidspunkt Style="width:100%" />
                    </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Slut" Variant="@ThemeConfig.FormVariant">
                    <ChildContent>
                        <RadzenDatePicker Name="Slut" @bind-Value=@Tur.TurSlutTidspunkt Style="width:100%" />
                    </ChildContent>
                </RadzenFormField>
            </RadzenStack>

            <!-- Lufthavn -->
            <RadzenFormField Text="Pris" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenNumeric Name="Pris" @bind-Value=@Tur.Pris Style="width:100%" />
                </ChildContent>
            </RadzenFormField>

            <br />

            <h4>Vælg dage:</h4>
            <DagReorderListComponent InjectedDage="Observabledage" OnDelete="OnDagDelete" />
            <div style="text-align: right; width: 100%;">
                <RadzenButton ButtonType="ButtonType.Button" Size="ButtonSize.Medium"
                              Style="width:150px" Text="Tilføj Dag"
                              Click="@(() => showAddDag = !showAddDag)"/>

            </div>

            @if (showAddDag)
            {
                <DagSkabelonListComponent OnSelect="OnDagRowSelect" />
            }

            <br />

            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="Opret Tur" Style="width:200px" />
        </RadzenStack>
    </RadzenTemplateForm>
</div>

@code{
    Kunde? NyKunde { get; set; }
    [Inject] 
    private ITurRepository _TurRepository { get; set; } = default!;

    [Parameter] public EventCallback<TurCreateDto> OnCreateTur { get; set; }

    [Parameter, EditorRequired]
    public List<DagReadDto> InjectedDage { get; set; } = new List<DagReadDto>();
    
    string selectedCustomerEmail;  // Variable to hold selected customer email
    private string? _token;
    bool showAddDag = false;

    private ObservableCollection<DagReadDto> SelecteddageVar = new ObservableCollection<DagReadDto>();

    public ObservableCollection<DagReadDto> Observabledage
    {
        get
        {
            return SelecteddageVar;
        }
        set 
        { 
            SelecteddageVar = value;
        }
    }

    public TurCreateDto Tur { get; set; } = new TurCreateDto();

    public List<DagReadDto> Dage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        _token = AuthStateProvider.CurrentUser.Token;

    // Faktisk hentning af alle dage:
        var alledage = await DagRepository.ReadAllDageAsync(_token);
        Dage = alledage;   // udfylder din property, så Injecteddage ikke længere er nødvendig


        Tur = new TurCreateDto();
        Tur.Dage = new List<DagCreateDto>();
        showAddDag = false;

    }

    async Task OnSubmit()
    {
        
        Console.WriteLine($"Titel: {Tur.Titel}\nBeskrivelse: {Tur.Beskrivelse}");

        _TurRepository.CreateTur(Tur, _token);
        CustomerState.Kunde = null;

        // Hent turen fra databasen

        await OnCreateTur.InvokeAsync(Tur);
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }

    private async Task OnDagRowSelect(DagSkabelon dagSkabelon)
    {
        var dag = new DagCreateDto
        {

            Titel = dagSkabelon.Titel,
            Beskrivelse = dagSkabelon.Beskrivelse,
           Aktiviteter = dagSkabelon.Aktiviteter,
            Måltider = dagSkabelon.Måltider,
            Overnatning = dagSkabelon.Overnatning,
            Sekvens = Tur.Dage.Count,

        };
        Tur.Dage.Add(dag);
        Observabledage.Add(new DagReadDto
        {
            Titel = dagSkabelon.Titel,
            Beskrivelse = dagSkabelon.Beskrivelse,
            Aktiviteter = dagSkabelon.Aktiviteter,
            Måltider = dagSkabelon.Måltider,
            Overnatning = dagSkabelon.Overnatning,
            Sekvens = Tur.Dage.Count,
        });
        showAddDag = false;
    }


    private void OnDagDelete(DagReadDto Dag)
    {
        Observabledage.Remove(Dag);
    }
}

