@using TANE.Application.Dtos
@using System.Collections.ObjectModel
@using TANE.Application.Dtos.Skabeloner
@using TANE.Application.Groups.DagSkabeloner.Queries.Interfaces
@using TANE.Application.Groups.Kunder.Queries.Interfaces
@using TANE.Application.RepositoryInterfaces
@using TANE.Domain.Entities
@using TANE.Persistence.Repositories
@using TANE.Presentation.BlazorWebAssemply.Configuration
@using TANE.Presentation.BlazorWebAssemply.Pages.Kunder.Component
@using TANE.Presentation.BlazorWebAssemply.Pages.Dage.Components
@using TANE.Presentation.BlazorWebAssemply.Pages.Ture.Components
@using TANE.Presentation.BlazorWebAssemply.Pages.Skabeloner.DagSkabeloner.Components
@inject CustomStateProvider AuthStateProvider
@inject IDagRepository DagRepository
@inject IReadDagSkabelon ReadDagSkabelon
@inject ITurRepository _TurRepository
@inject IReadKunde ReadKunde
@inject DialogService DialogService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager
@inject NotificationService NotificationService
@inject CustomStateProvider AuthProvider



<div class="rz-p-0 rz-p-md-12">
    <RadzenTemplateForm TItem="Tur" Data=@Tur Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <RadzenStack Gap="1rem" class="rz-p-sm-12">
            <!-- Titel -->
            <RadzenFormField Text="Titel" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextBox Name="Titel" @bind-Value=@Tur.Titel Style="width:100%" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Titel" Text="Titel skal udfyldes." />
                </Helper>
            </RadzenFormField>

            <!-- Beskrivelse -->
            <RadzenFormField Text="Beskrivelse" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenTextArea Name="Beskrivelse" @bind-Value=@Tur.Beskrivelse Rows="4" Style="width:100%" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Beskrivelse" Text="Beskrivelse skal udfyldes." />
                </Helper>
            </RadzenFormField>

            <!-- Antal Voksne / Antal Børn -->
            <RadzenStack Direction="Row" Gap="1rem">
                <RadzenFormField Text="Start" Variant="@ThemeConfig.FormVariant">
                    <ChildContent>
                        <RadzenDatePicker Name="Start" @bind-Value=@Tur.TurStartTidspunkt Style="width:100%" />
                    </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Slut" Variant="@ThemeConfig.FormVariant">
                    <ChildContent>
                        <RadzenDatePicker Name="Slut" @bind-Value=@Tur.TurSlutTidspunkt Style="width:100%" />
                    </ChildContent>
                </RadzenFormField>
            </RadzenStack>

            <!-- Lufthavn -->
            <RadzenFormField Text="Pris" Variant="@ThemeConfig.FormVariant">
                <ChildContent>
                    <RadzenNumeric Name="Pris" @bind-Value=@Tur.Pris Style="width:100%" />
                </ChildContent>
            </RadzenFormField>

            <br />
            @if (Observabledage.Count < 1)
            {
                <h4>Ingen dage at vise</h4>
            }
            @if (Observabledage.Count > 0)
            { 
                
                <h4>Dage:</h4>
                <DagReorderListComponent InjectedDage="Observabledage" OnDelete="OnDagDelete" OnReorder="HandleDagReorder" OnEdit="HandleEditDag" />
                <div style="text-align: right; width: 100%;">

                </div>
            }
                    <RadzenButton ButtonType="ButtonType.Button" Size="ButtonSize.Medium"
                                  Style="width: 150px" Text="Tilføj Dag"
                                  Click="@(() => showAddDag = !showAddDag)"/>

            @if (showAddDag)
            {
                <div style="border: 1px solid #ccc; padding: 1rem; border-radius: 6px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 1rem;">
                    <DagSkabelonListComponent OnSelect="OnDagRowSelect" InjectedSkabeloner="DagSkabeloner"/>
                </div>
                <RadzenButton Text="Opret Dag" ButtonType="ButtonType.Button" Click="OpenCreateDagDialog" />
            }

            <br />

            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="@ButtonText" Style="width:200px" />
        </RadzenStack>
    </RadzenTemplateForm>
</div>

@code{
    Kunde? NyKunde { get; set; }
   [Parameter]
    public EventCallback<Tur> OnAdd { get; set; }
    [Parameter]
    public EventCallback<Tur> OnEdit { get; set; }

    [Parameter]
    public EventCallback<Tur> OnSaved { get; set; }

    [Parameter]
    public EventCallback<Tur> OnEditTur { get; set; }

    [Parameter] 
    public Tur? Tur { get; set; }

    public List<DagSkabelon> DagSkabeloner { get; set; } = new List<DagSkabelon>();


    [Parameter]
    public EventCallback<Tur> OnCreateTur { get; set; }

    [Parameter]
    public ObservableCollection<Dag> InjectedDage { get; set; } = new ObservableCollection<Dag>();
    
    string selectedCustomerEmail;  // Variable to hold selected customer email
    private string? _token;
    bool showAddDag = false;

    private ObservableCollection<Dag> SelecteddageVar = new ObservableCollection<Dag>();

    public ObservableCollection<Dag> Observabledage
    {
        get
        {
            return SelecteddageVar;
        }
        set 
        { 
            SelecteddageVar = value;
        }
    }


    public List<Dag> Dage { get; set; }
    private string ButtonText => Tur == null ? "Opret Tur" : "Opdater Tur";

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        _token = AuthStateProvider.CurrentUser.Token;

        showAddDag = false;

        Observabledage = InjectedDage;

        // henter skabeloner 
       DagSkabeloner = await ReadDagSkabelon.ReadAllDagSkabelonerAsync(_token);

    }

    async Task OnSubmit()
    {
        NotificationService.Notify(new NotificationMessage()
        {
            Severity = NotificationSeverity.Success,
            Summary = "Tur opdateret",
            Detail = $"Turen {Tur.Titel} er opdateret.",
            Duration = 4000
        });

        await AuthProvider.RefreshTokenAsync(NavManager, NotificationService);

        foreach (var dag in Observabledage)
        {
            if (dag.Id == 0)
            {
                await DagRepository.CreateDagAsync(dag, _token);
            }
        }
        await _TurRepository.UpdateTur(Tur.Id, Tur, _token);
        DialogService.Close();
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }

    private async Task OnDagRowSelect(DagSkabelon dagSkabelon)
    {
    // mapping fra DagSkabelon til Dag
        var dag = new Dag
        {

            Titel = dagSkabelon.Titel,
            Beskrivelse = dagSkabelon.Beskrivelse,
            Aktiviteter = dagSkabelon.Aktiviteter,
            Måltider = dagSkabelon.Måltider,
            Overnatning = dagSkabelon.Overnatning,
            Sekvens = Observabledage.Count,
            TurId = Tur.Id

        };

    // tilføj dag til Tur
       await DagRepository.CreateDagAsync(dag, _token);

    // tilføj dag til ObservableCollection (for UI opdatering))
      Observabledage = await DagRepository.ReadAllDagePåTur(Tur.Id, _token);
        StateHasChanged();
        showAddDag = false;
      
    }


    private async Task OnDagDelete(Dag Dag)
    {
        bool confirmed;
        try
        {
            confirmed = await JSRuntime.InvokeAsync<bool>(
                "confirm", $"Er du sikker på, at du vil fjerne dagen ''{Dag.Titel}'' fra turen ''{Tur.Titel}''? Handlingen kan IKKE fortrydes!");
        }
        catch (Exception jsEx)
        {
            await DialogService.Alert($"Beklager, dialogen kunne ikke vises: {jsEx.Message}");
            return;
        }

        if (!confirmed)
        {
            return;
        }


        try
        {
            var deleteDagAsync = await DagRepository.DeleteDagAsync(Dag.Id, Dag.RowVersion, _token);
        }
        catch (Exception ex)
        {
            await DialogService.Alert($"Fejl under sletning: {ex.Message}");
            return;
        }

        Observabledage.Remove(Dag);
    }

    private async Task HandleAddDag(Dag dag)
    {
        Observabledage.Add(dag);
        showAddDag = false;
    }

    private async Task OpenCreateDagDialog()
    {
        var parameters = new Dictionary<string, object>
        {
            { "OnAdd", EventCallback.Factory.Create<Dag>(this, HandleAddDag) },
            { "TurId", Tur.Id }
        };

    // Åbner CreateDagComponent i en dialog
        var result = await DialogService.OpenAsync<CreateDagComponent>("Opret Ny Dag", parameters);
    }

    private async Task HandleEditDag(Dag dag)
    {
       var parameters = new Dictionary<string, object>
        {
           
            { "Dag", dag }
        };

        // Åbner EditDagComponent i en dialog
        var result = await DialogService.OpenAsync<EditDagComponent>("Rediger Dag", parameters);
    }
  
     
    private async Task HandleDagReorder(IEnumerable<Dag> newOrder)
    {
    // 1) Gem i DB
        var dto = new DagReorderDto { DagIds = newOrder.Select(t => t.Id).ToList(), OriginalRowVersion = Tur.RowVersion};
        try
        {
            await _TurRepository.ReorderDageAsync(Tur.Id, dto, _token);

            StateHasChanged();
            NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Dage omrokeret",
                Detail = "Dage er blevet omrokeret på turen.",
                Duration = 4000
            });

        }
        catch (Exception ex)
        {
            await DialogService.Alert($"Fejl: {ex.Message}");
            return;
        }

        var dage = await DagRepository.ReadAllDagePåTur(Tur.Id, _token);
        Dage = new List<Dag>(dage.OrderBy(t => t.Sekvens));
    }

}

